@import "font";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}



ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: bold;
}

* {
  font-family: 'SF Pro Display' !important;
}

#header {
  display: flex;
  align-items: center;
  
  padding: 40px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 9999;
  /* position: sticky; */
  top: 0;
  left: 0;
}

#header .logo {
  padding-bottom: 14px;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#close {
  display: none;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}



#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;

  opacity: .8;
  transition: 400ms opacity ease-in-out;
}

#navbar li a:hover {

  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 15px;

  box-shadow: 20px 20px 34px rgb(0 0 0 / 14%);


}

.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}

.container .navbar-right span {
  margin-right: 10px;
}

.button {
  background-color: #4974e2;

}

.button button {
  border: outline;
}

#button-support:hover {

  background: #fff !important;
  color: #4974e2;
}

#mobile {
  display: none;
  align-items: center;
}

#join-family {
  margin-bottom: 40px;
}

#join-family .container .row .join-desc {
  padding: 100px 40px 0 28px;
  background-color: #ecfee7;
}

#join-family .container .row .join-desc .alt-title {
  margin-bottom: 30px;
}

.description h1 {
  font-family: "SF Pro Text";
  font-size: 42px;

}

#join-family .container .row .image {
  padding-left: 0 !important;
}

.image img {
  width: 100%;
}

#slider {
  margin-bottom: 30px;
}

/* #slider .container .row  {
    display: flex;
    align-items: center;
  } */

#slider .container .row .heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#slider .container .row .heading p {
  font-size: 30px;
}

#slider .container .row .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 20px;
  box-shadow: 20px 20px 34px rgb(0 0 0 / 14%);
}

.splide__arrow .splide__arrow--next {
  display: none !important;
}

#slider .container .row .arrow a {
  color: #74777d;
}


.arrow.left {
  position: absolute;
  top: 34%;
  left: -21px;
  z-index: 5;
}

.arrow.right {
  position: absolute;
  top: 36%;
  right: -14px;
  z-index: 5;
}

.splide__slide img {
  border-radius: 40px !important;
}

#slider .container .row img {
  padding: 10px 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(.5);
  transition: 400ms filter ease-out;
}

#slider .container .row .splide__slide:hover img {
  filter: brightness(1);
}

.splide__arrow {
  display: none !important;
}

#slider .container .row .title p {
  margin-top: 15px;
  padding-left: 20px;
  font-weight: bold;
}

#join-family .join .row .heading {
  background-color: #e7e3dd;
  padding: 50px auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#join-family .container .row .heading .description {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#join-family .container .row .heading .description h1 {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

#join-family .container .row .image img {
  width: 100%;
  object-fit: contain;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


#join-family .join .row .heading2 {
  background-color: #e7e3dd;
  padding: 50px auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#join-family .container .row .heading2 .description {
  display: flex;
  justify-content: center;

  padding: 30px;
}

#join-family .container .row .heading2 .description h1 {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

#join-family .container .row .image2 {
  padding: 0;
}

#join-family .container .row .image2 img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

#section3 .container .row .description {
  background-color: #ebf2ed;
  padding: 40px;

}

#section3 .container .row .description.top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section3 .container .row .image.top img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#section3 .container .row .description.bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: -webkit-right;
}

#section3 .container .row .image.bottom img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


#section3 .container .row .description h1 {
  margin-bottom: 0;
  width: 62%;
  font-weight: bold;
}

#register {
  background-color: #f8f9fa;

}

#register .row .register-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px;
}

#register .row .news-text {
  margin: 20px;
  text-align: -webkit-center;
}

#register .row .news-text p {
  font-size: 25px;
  width: 30%;
}

#register .row .register-btn {
  background: transparent;
  padding: 15px;

}

.register-btn button {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  color: #5175d0;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #5175d0;
  outline: none;
  transition: 0.2s;
}

.register-btn:hover button {
  background: #5175d0;
  color: #fff;
  transition: 300ms;
}

#footer {
  margin-top: 20px;
}

#footer p {
  font-size: 11px;
}

#footer .main-footer .social-media {
  display: flex;
  justify-content: space-between;
}

#footer .main-footer .social-media .icons a {
  font-size: 15px;
}

#footer .main-footer .social-media span {
  font-size: 10px;
}

#footer ul {
  padding-left: 0 !important;
  display: flex;
}

#footer ul li a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  font-size: 13px;
  opacity: .7;
}

.main-footer .social-media ul li:hover a {
  background: #4974e2;
  color: #fff !important;
  padding: 10px;
  transition: 300ms color;
  border-radius: 5px;
}

@media (max-width:768px) {
  h1 {
    font-size: 30px;
  }

  #header {
    padding: 12px 34px;
    ;
  }

  #header .logo {
    padding-bottom: 0;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  .navbar-right ul li {
    display: flex;
    flex-direction: column;
  }

  .navbar-right ul li span {
    text-align: center;
    font-size: 12px;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    position: absolute;
    top: 36%;
    right: 5%;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
  }

  #slider .container .row .arrow {
    display: none;
  }

  .splide__list .splide__slide {
    width: 100% !important;
  }

  #slider .container .row img {
    filter: brightness(1);

  }

  #slider .container .row .title p {
    text-align: center;
    font-size: 23px;
  }

  #join-family .container .row .join-desc {
    padding: 31px 37px 20px 28px;
  }

  #join-family .container .row .heading .description h1 {
    font-size: 35px;
    transform: none;
    writing-mode: lr;
  }

  #join-family .container .row .heading2 .description h1 {
    transform: rotate(0deg);
    writing-mode: lr;
    font-size: 35px;

  }

  .description h1 {
    font-size: 30px;
  }

  #register .row .news-text p {
    margin-top: 20px;
    font-size: 24px;
    width: 100%;
  }

  .main-footer .social-media {
    display: flex;
    flex-direction: column;
  }

  #footer ul {
    display: flex;
    justify-content: center;
  }

  #footer ul li a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    font-size: 10px;
  }
}